.form {
  margin-top: -2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.addTaskInput {
  background: var(--gray-500);
  color: var(--gray-100);
  font-size: 1rem;
  line-height: 140%;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  flex: 1;
  width: 100%;
}

.addTaskInput::placeholder {
  color: var(--gray-300);
}

.createTaskButton {
  display: flex;
  align-items: center;
  height: 100%;
  background: var(--blue-dark);
  border-radius: 8px;
  border: 0;
  color: var(--gray-100);
  font-size: 0.875rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
  transition: background 0.1s;
}

.createTaskButton svg {
  margin-left: 0.5rem;
}

.createTaskButton:hover:not(:disabled) {
  background: var(--blue);
}

.createTaskButton:disabled {
  opacity: 0.7;
  cursor: default;
}
