.countersContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
}

.createdTasksCounterText {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.completedTasksCounterText {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 700;
}

.counter {
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 40%;
  margin-left: 0.5rem;
}

.listContainer {
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.taskContainer {
  display: flex;
  padding: 1rem;
}

.taskUncheckedIcon {
  color: var(--blue);
}

.taskCheckedIcon {
  color: var(--purple);
}

.taskContent {
  margin: 0 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
}

.taskContentCompleted {
  color: var(--gray-300);
  text-decoration: line-through;
}

.deleteButton {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 2px;
  color: var(--gray-300);
}

.emptyTaskListMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.5rem;
}

.emptyTaskListMessageContainer svg {
  color: var(--gray-400);
}

.emptyTaskListMessageContainer .noTasksMessage {
  margin-top: 1rem;
  color: var(--gray-300);
  font-weight: bold;
  line-height: 140%;
}

.emptyTaskListMessageContainer .createTasksMessage {
  color: var(--gray-300);
  line-height: 140%;
}
